<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpw.dao.mapper.BroadcastMailInfoPOMapper">
  <resultMap id="BaseResultMap" type="com.hpw.bean.BroadcastMailInfoPO">
    
    <!--======= 邮件id =========-->
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!--======= 附件内容格式 [[游戏id， 道具id， 道具类型，道具数量], ...] =========-->
    <result column="attachment_content_format" jdbcType="VARCHAR" property="attachmentContentFormat" />
    
    <!--======= 内容类型 =========-->
    <result column="content_type" jdbcType="INTEGER" property="contentType" />
    
    <!--======= 对格式化字符串的填充内容, 以 ; 分割 =========-->
    <result column="content_args" jdbcType="VARCHAR" property="contentArgs" />
    
    <!--======= 发送时间 =========-->
    <result column="sending_time" jdbcType="BIGINT" property="sendingTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    tableName: c_broadcast_mail_info
    -->
    `id`,`attachment_content_format`,`content_type`,`content_args`,`sending_time`
  </sql>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-07-27 20:18:41 ### -->

  <!-- Your codes goes here!!! -->
  <insert id="insertFullInfo">
    INSERT INTO c_broadcast_mail_info
    (
      `id`,
      <if test="info.attachmentContentFormat != null">
        `attachment_content_format`,
      </if>
      `content_type`,
      <if test="info.contentArgs != null">
        `content_args`,
      </if>
      `sending_time`
    )
    VALUES
    (
      #{info.id},
      <if test="info.attachmentContentFormat != null">
        #{info.attachmentContentFormat},
      </if>
      #{info.contentType},
      <if test="info.contentArgs != null">
        #{info.contentArgs},
      </if>
      #{info.sendingTime}
    )
  </insert>
  <insert id="insertFullInfoAndReturnId" useGeneratedKeys="true" keyColumn="info.id" keyProperty="info.id">
    INSERT INTO c_broadcast_mail_info
    (
      <if test="info.attachmentContentFormat != null">
        `attachment_content_format`,
      </if>
      `content_type`,
      <if test="info.contentArgs != null">
        `content_args`,
      </if>
      `sending_time`
    )
    VALUES
    (
      <if test="info.attachmentContentFormat != null">
        #{info.attachmentContentFormat},
      </if>
      #{info.contentType},
      <if test="info.contentArgs != null">
        #{info.contentArgs},
      </if>
      #{info.sendingTime}
    )
  </insert>

  <select id="selectAllInfo" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM c_broadcast_mail_info
  </select>

  <select id="selectAllOrderBySendingTime" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM c_broadcast_mail_info
    ORDER BY sending_time
  </select>

</mapper>